/* #Fav-Icon {
    justify-content: center;
    align-content: center;
}

.card-img {
    height: 35%;
    width: 35%;
    align-content: center;
}

.card-text {
    text-align: left;
} */

.card-res {
    display: flex;
}