.StopWatch {
    margin: 0 auto;
    text-align: center;
}
  
  .time {
    font-size: 100px;
  }

  button {
    font-size: 25px;
    background-color: rgb(217, 60, 35);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(173, 47, 28);
  }
  button:active {
    background-color: rgb(130, 35, 21);
  }
  button:focus {
    outline: 0;
  }